.App{
  text-align: center;
  background-color: chartreuse;
  width: 400px;
  margin: 0 auto;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 20px 10px 20px 10px;
}
.text{
  margin: 0 auto;
  display: flex;
  width: 250px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(140, 95, 95);
  border-radius: 5px;
  background-color: rgb(118, 240, 191);
  margin-top: 8px;
  font-size: 20px;
  padding: 10px 15px 10px 15px;
}
.box{
  width: 300px;
  padding: 20px 10px 10px 10px;
  margin: 0 auto;
}